.header__bigsearch {
  width: 689px;
  background-color: var(--clr-card-background);
  border-radius: 0.375rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__bigsearch--searchicon {
  position: absolute;
  left: 24px;
}

.header__bigsearch--locationicon {
  position: absolute;
  left: 240px;
}

.header__bigsearch--input {
  height: 80px;
  padding: 1.75rem;
  background-color: var(--clr-card-background);
  border-right: 1px solid var(--clr-paragraph);
  caret-color: var(--clr-accent);
  color: var(--clr-title);
  font-weight: 400;
  font-size: 1rem;
}

.header__bigsearch--input::placeholder {
  opacity: 0.5;
}

.header__bigsearch--input:hover {
  cursor: text;
}

.header__bigsearch--input:focus {
  outline: 2px solid var(--clr-accent);
}

#header__bigsearch--input-title {
  width: 222px;
  border-radius: 0.375rem 0 0 0.375rem;
  padding-left: 4rem;
}

#header__bigsearch--input-location {
  width: 213px;
  padding-left: 3rem;
}

.header__bigsearch--checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  margin-left: 1.25rem;
  margin-right: 1.75rem;
}

.header__bigsearch--checkbox-wrapper>input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 0.1875rem;
  background-color: var(--clr-checkbox);
}

.header__bigsearch--checkbox-wrapper>input[type="checkbox"]:checked {
  background-color: var(--clr-accent);
  background-image: url("../assets/desktop/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.header__bigsearch--checkbox-wrapper>input[type="checkbox"]:hover {
  cursor: pointer;
}

.header__bigsearch--checkbox-wrapper>label {
  color: var(--clr-title);
  font-weight: 700;
}

#header__bigsearch--submit {
  border-radius: 5px;
  background-color: var(--clr-accent);
  color: white;
  padding: 1rem;
}

#header__bigsearch--submit:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

#header__bigsearch--submit:active {
  transform: translateY(2px);
}

@media screen and (min-width: 1270px) {
  .header__bigsearch {
    width: 1110px;
  }

  .header__bigsearch--searchicon {
    left: 32px;
  }

  .header__bigsearch--locationicon {
    left: 426px;
  }

  #header__bigsearch--input-title {
    width: 400px;
    padding-left: 5rem;
  }

  #header__bigsearch--input-location {
    width: 362px;
    padding-left: 4rem;
  }

  .header__bigsearch--checkbox-wrapper {
    margin-left: 2rem;
    margin-right: 3.5rem;
  }

  #header__bigsearch--submit {
    border-radius: 5px;
    background-color: var(--clr-accent);
    color: white;
    padding: 1rem 2.5rem;
  }
}