.company__detail {
  width: 327px;
  background-color: var(--clr-card-background);
  border-radius: 0.375rem;
  padding: 3.125rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  position: relative;
}

.company__detail--logo {
  background-color: hsl(36, 87%, 49%);
  width: 50px;
  height: 50px;
  border-radius: 0.9375rem;
  position: absolute;
  top: -26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company__detail--all-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__detail--info-wrapper {
  text-align: center;
}

.company__detail--name {
  color: var(--clr-title);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin-bottom: 0.5rem;
}

.company__detail--link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 0.3125rem;
  background-color: var(--clr-button);
  color: var(--clr-accent-button);
  font-weight: 700;
  padding: 1rem 1.25rem;
  transition: ease 100ms;
  margin-top: 1.25rem;
}

.company__detail--link:hover {
  background-color: var(--clr-hover-button);
  cursor: pointer;
  text-decoration-line: none;
}

.company__detail--link:active {
  transform: translateY(2px);
}

@media screen and (min-width: 768px) {
  .company__detail {
    width: 689px;
    padding: 0;
    position: unset;
    flex-direction: row;
  }

  .company__detail--logo {
    position: unset;
    width: 140px;
    height: 140px;
    border-radius: 0.375rem 0 0 0.375rem;
  }

  .company__detail--logo>img {
    width: 65%;
  }

  .company__detail--all-wrapper {
    padding: 2rem;
    flex-direction: row;
    column-gap: 250px;
  }

  .company__detail--info-wrapper {
    text-align: start;
  }

  .company__detail--link {
    margin-top: unset;
  }
}

@media screen and (min-width: 1270px) {
  .company__detail {
    width: 730px;
  }

  .company__detail--all-wrapper {
    column-gap: 275px;
  }
}