.header__search--filter-modal--wrapper {
  position: relative;
}

.header__search--filter-modal--input-location-icon {
  top: 24px;
  left: 24px;
  position: absolute;
}

.header__search--filter-modal {
  max-width: 327px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  background-color: var(--clr-card-background);
  text-align: center;
  position: fixed;
  top: 40vh;
  z-index: 10;
}

#header__search--filter-modal--input-location-icon {
  width: 327px;
  border-radius: 0.375rem 0.375rem 0 0;
  border-bottom: 1px solid var(--clr-paragraph);
  background-color: var(--clr-card-background);
  color: var(--clr-title);
  padding: 1.5rem 1.5rem 1.5rem 3.5rem;
}

#header__search--filter-modal--input-location-icon:focus {
  outline: 2px solid var(--clr-accent);
}