.main__job {
  width: 327px;
  background-color: var(--clr-card-background);
  border-radius: 0.375rem;
  padding: 3.0625rem 0.5625rem 2rem 2rem;
  position: relative;
}

.main__job--logo {
  background-color: hsl(36, 87%, 49%);
  width: 50px;
  height: 50px;
  border-radius: 0.9375rem;
  position: absolute;
  left: 28px;
  bottom: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__job--logo-img {
  color: var(--clr-paragraph);
}

.main__job--info-wrapper {
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.main__job--position {
  color: var(--clr-title);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin-top: 0.8125rem;
  margin-bottom: 1.0625rem;
}

.main__job--position:hover {
  color: var(--clr-paragraph);
  cursor: pointer;
}

.main__job--link:hover {
  text-decoration-line: none;
}

.main__job--company {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 2.75rem;
}

.main__job--location {
  color: var(--clr-accent);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}