.main {
  margin-top: 6.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 6.9375rem;
    display: grid;
    column-gap: 11px;
    row-gap: 65px;
    grid-template-columns: repeat(2, 339px);
    place-items: center;
    place-content: center;
  }
}