.header__search {
  position: relative;
}

#header__search--input {
  width: 327px;
  height: 80px;
  background-color: var(--clr-card-background);
  border-radius: 0.375rem;
  caret-color: var(--clr-accent);
  color: var(--clr-title);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1.9375rem 7.5rem 1.9375rem 1.5rem;
}

#header__search--input::placeholder {
  opacity: 0.5;
}

#header__search--input:hover {
  cursor: text;
}

#header__search--input:focus {
  outline: 2px solid var(--clr-accent);
}

#header__search--filter {
  position: absolute;
  left: 66.97%;
  top: 37.5%;
  background-color: transparent;
}

#header__search--filter>img {
  filter: var(--flr-filter);
}

#header__search--filter:hover {
  cursor: pointer;
  opacity: 0.75;
}

#header__search--filter:active {
  filter: var(--flr-filter-active);
}

#header__search--submit {
  position: absolute;
  left: 80.43%;
  top: 20%;
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-accent);
  border-radius: 0.3125rem;
  padding: 0.875rem;
}

#header__search--submit:hover {
  cursor: pointer;
  filter: brightness(1.25);
}

#header__search--submit:active {
  transform: translateY(2px);
}

#header__search--submit>img {
  filter: brightness(0) invert(1);
}