@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
 * Credit to Kevin Powell for his YouTube short.
 * Simple CSS reset to prevent headaches.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --clr-background: hsl(210, 22%, 96%);
  --clr-card-background: hsl(0, 0%, 100%);
  --clr-title: hsl(219, 29%, 14%);
  --clr-paragraph: hsl(214, 17%, 51%);
  --clr-accent: hsl(235, 69%, 61%);
  --clr-attribution: hsl(212, 95%, 48%);
  --clr-checkbox: hsl(199, 6%, 91%);
  --clr-button: hsl(236, 74%, 96%);
  --clr-accent-button: hsl(235, 69%, 61%);
  --clr-hover-button: hsl(234, 68%, 86%);
  --flr-filter: unset;
  --flr-filter-active: brightness(0);
  --ff-primary: "Kumbh Sans",
    sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--clr-background);
  color: var(--clr-paragraph);
  font-weight: 400;
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body a {
  text-decoration-line: none;
}

body a:hover {
  text-decoration-line: underline;
}

/* 
 * Input submit styling doesn't work
 * in Safari iOS by default, this should fix it.
*/

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* * * * * * * * * * * * * * * * * * * * * */

/* 
 * Manual dark mode.
*/

:root.dark {
  --clr-background: hsl(220, 19%, 10%);
  --clr-card-background: hsl(219, 29%, 14%);
  --clr-title: hsl(0, 0%, 100%);
  --clr-paragraph: hsl(214, 17%, 51%);
  --clr-accent: hsl(235, 69%, 61%);
  --clr-attribution: hsl(0, 0%, 100%);
  --clr-checkbox: hsl(221, 16%, 23%);
  --clr-button: hsl(221, 16%, 22%);
  --clr-accent-button: hsl(0, 0%, 100%);
  --clr-hover-button: hsl(214, 8%, 35%);
  --flr-filter: brightness(0) invert(1);
  --flr-filter-active: brightness(0) invert(1);
}

/* * * * * * * * * * * * * * * * * * * * * */

/* 
 * Automatic dark mode.
*/

@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: hsl(220, 19%, 10%);
    --clr-card-background: hsl(219, 29%, 14%);
    --clr-title: hsl(0, 0%, 100%);
    --clr-paragraph: hsl(214, 17%, 51%);
    --clr-accent: hsl(235, 69%, 61%);
    --clr-attribution: hsl(0, 0%, 100%);
    --clr-checkbox: hsl(221, 16%, 23%);
    --clr-button: hsl(221, 16%, 22%);
    --clr-accent-button: hsl(0, 0%, 100%);
    --clr-hover-button: hsl(214, 8%, 35%);
    --flr-filter: brightness(0) invert(1);
    --flr-filter-active: brightness(0) invert(1);
  }
}